<form
    class="card"
    [formGroup]="filterForm"
    (ngSubmit)="onSubmit()">
    <div class="filter">
        <label for="gender">
            Gender
        </label>
        <select
            name="gender"
            id="gender"
            formControlName="gender">
            <option value="">
                All Genders
            </option>
            <option
                *ngFor="let gender of genders"
                [value]="gender">
                {{ gender }}
            </option>
        </select>
    </div>
    <div>
        <button
            class="button"
            type="submit">
            Apply Filters
        </button>
    </div>
</form>
