<form
    class="card"
    [formGroup]="filterForm"
    (ngSubmit)="onSubmit()">
    <div class="filter">
        <label for="gender">
            Gender
        </label>
        <select
            name="gender"
            id="gender"
            formControlName="gender">
            <option value="">
                All Genders
            </option>
            <option
                *ngFor="let gender of genders"
                [value]="gender">
                {{ gender }}
            </option>
        </select>
    </div>
    <div class="filter">
        <label for="eye-color">
            Eye Color
        </label>
        <select
            name="eye-color"
            id="eye-color"
            formControlName="eyeColor">
            <option value="">
                All Colors
            </option>
            <option
                *ngFor="let eyeColor of eyeColors"
                [value]="eyeColor">
                {{ eyeColor }}
            </option>
        </select>
    </div>
    <div class="filter">
        <label for="hair-color">
            Hair Color
        </label>
        <select
            name="hair-color"
            id="hair-color"
            formControlName="hairColor">
            <option value="">
                All Colors
            </option>
            <option
                *ngFor="let hairColor of hairColors"
                [value]="hairColor">
                {{ hairColor }}
            </option>
        </select>
    </div>
    <div>
        <button
            class="button"
            type="submit">
            Apply Filters
        </button>
    </div>
</form>
