<header class="header">
  <a routerLink="home"
      routerLinkActive="active">
    <img
      src="assets/studio-ghibli.png"
      alt="Studio Ghibli"
      class="logo">
  </a>
  <div class="nav">
    <nav>
      <a routerLink="home"
         routerLinkActive="active">
        Home
      </a>
      <a routerLink="films"
         routerLinkActive="active">
        Films
      </a>
      <a routerLink="characters"
         routerLinkActive="active">
        Characters
      </a>
    </nav>
    <img
      src="assets/studio-ghibli-logo-no-words.png"
      alt="Studio Ghibli"
      class="totoro">
  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <p>
    <a href="https://www.stephsmithcode.com/">Stephanie Smith</a>
    <span> | 2021 </span>
  </p>
</footer>