<ng-container *ngIf="filmObservable | async as film">
    <section class="card">
        <h2>{{ film.title }}</h2>
        <p>Director: {{ film.director }}</p>
        <p>Release Date: {{ film.release_date }}</p>
        <p>Rotten Tomato Score: {{ film.rt_score }}</p>
        <p>{{ film.description }}</p>
    </section>
    <section class="card-list">
        <div
            *ngFor="let people of film.people"
            class="card">
            <ng-container *ngIf="people | async as character">
                <h2>{{ character.name }}</h2>
                <p>Gender: {{ character.gender }}</p>
                <p>Age: {{ character.age }}</p>
                <p>Eye Color: {{ character.eye_color }}</p>
                <p>Hair Color: {{ character.hair_color }}</p>
            </ng-container>
        </div>
    </section>
</ng-container>
